<!--<div style="text-align:center">
    <h1>Hello {{name}}</h1>
    <h2>Hey es mi descripcion {{descripcion}}</h2>

    <h2>Hey es mi descripcionsss {{descripcion}}</h2>
    
    <h2>Hey es mi descripcionsss 2222 {{descripcion2}}</h2>

    <videojuegos></videojuegos>
</div>-->


<app-navbar></app-navbar>

<div class="container p-4">
    <div class="row">
        <div class="col-md-9">
            <app-tasks-list></app-tasks-list>
        </div>
        <div class="col-md-3">
            <img  width="300" alt="Angular Logo"/>
        </div>
    </div>
</div>

<app-task-add></app-task-add>